html, body {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", 微软雅黑, sans-serif;
}

:global(.themeLight) {
  background-color: #fffae8;
  color: black;
}

:global(.themeDark) {
  background-color: #272822;
  color: white;
}

:global(.themeDarkBlue) {
  background-color: #282c35;
  color: white;
}

a {
  cursor: pointer;
  color: #06f;
}

a:hover {
  text-decoration: underline;
}

.root {
  padding: 20px;
  font-size: 14px;
}

.title {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 600;
}

.btnGroup {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn {
  margin-right: 10px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btnPrimary {
  border: none;
  background-color: #06f;
  color: #fff;
}

.status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 13px;
  color: black;
  background-color: #e6e9ed;
}

.status.success {
  background-color: #bbfada;
}
.status.error {
  background-color: red;
}
.status.merged {
  background-color: #cceaff;
}
