.root {
  padding: 20px;
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
}

.actions {
  margin-left: 15px;
}

.mrWrap {
  display: flex;
  align-items: top;
}

.left {
  margin-right: 30px;
}
